<div class="col-lg-12 mt-3" *ngIf="!topics">
	<img src="/assets/img/loading.gif">
</div>

<div class="col-lg-12 mt-3" *ngIf="topics">
	<h1>{{page_title}}</h1>
	<hr/>

	<ul class="list-group list-group-flush list-topics" >
	  	<li class="list-group-item opacity mb-2 rounded" *ngFor="let topic of topics">
	  		<h3>
	  			<a class="text-info text-decoration-none" [routerLink]="['/tema', topic._id]">{{topic.title}}</a>
	  		</h3>
	  		<span class="badge badge-primary">
	  			{{topic.user.name + ' ' + topic.user.surname}}
	  		</span>
	  		<span class="badge badge-light ml-2">
	  			{{topic.date | amLocale: 'es' | amTimeAgo }}
	  		</span>
	  		<a [routerLink]="['/tema', topic._id]" class="btn btn-sm btn-success float-right mx-auto d-block">Leer</a>
	  		<div class="clearfix mb-3"></div>
		</li>
	</ul>

	<div class="clearfix"></div>

	<!-- NAVEGACION DE PAGINACION -->
	  <ul class="pagination mt-4 mb-2 justify-content-md-center" *ngIf="!no_paginate">
	    <li class="page-item">
	    	<a class="page-link" [routerLink]="['/temas', prev_page]">&laquo;</a>
	    </li>
	    <li class="page-item" *ngFor="let num of number_pages">
	    	<a class="page-link" [routerLink]="['/temas', num]">{{num}}</a>
	    </li>
	    <li class="page-item">
	    	<a class="page-link" [routerLink]="['/temas', next_page]">&raquo;</a>
	    </li>
	  </ul>

</div>
