<div class="col-lg-12">

	<div class="col-lg-10 mt-3">
	<h1 class="display-3">Hola visitante!</h1>
	<p class="lead">Mi nombre es Christian Godoy y actualemente me dedico al desarrollador web.</p>
	<div class="clearfix"></div>

	<div class="row ml-3">
	    <div class="col col-lg-4 avatar_mi_foto">
	      <img src="/assets/img/mi-foto.jpg" class="img-fluid">
	    </div>
	    <div class="col mt-3">
	      	<p>	Soy egresado de la carrera de Ingeniería en Informática a principio de año del 2020 y me dedico especialmente al desarrollo web desde el 2019, en el ámbito laboral no poseo una preferencia marcada entre el back-end o front-end más bien me gusta mencionar que me atrae mucho más trabajar en ambas áreas en los proyectos que realizo.
      		</p>
      		<p>
			En el ámbito personal me gusta mucho pasear, o viajar por áreas verdes ya que me crie en un sector rural por lo cual amo bastante la naturaleza, además me gusta mucho poder practicar cualquier tipo de deporte y siempre con un espíritu competitivo para obtener lo mejor de mí mismo obviamente de manera sana, cosa que también lo llevo a las distintas disciplinas de mi vida.
			</p>
			<p>
			No me considero una persona de demasiados amigos, pero si una con muy buenos, con cuales me gusta compartir mucho de mis mejores instancias junto claramente también a mi familia.
			</p>
			<hr/>
	    </div>
    </div>

    	<div class="row">
			<div class="col-md-7 mr-3 mt-3">
				<h2>Tecnologias! <img src="/assets/img/pc-icono.png" class="icon_about"></h2>
				<ul class="list-group list-group-flush opacity3">
				  <li class="list-group-item"><img src="/assets/img/iconos/JS-icono.png" class="icono-tec mr-2"> JavaScript </li>
				  <li class="list-group-item"><img src="/assets/img/iconos/angular-icono.png" class="icono-tec mr-2">  Angular </li>
				  <li class="list-group-item"><img src="/assets/img/iconos/nodejs-icono.png" class="icono-tec mr-2">  NodeJS </li>
				  <li class="list-group-item"><img src="/assets/img/iconos/php-icono.png" class="icono-tec mr-2"> PHP </li>
				  <li class="list-group-item"><img src="/assets/img/iconos/laravel-icono.png" class="icono-tec mr-2"> Laravel </li>
				  <li class="list-group-item"><img src="/assets/img/iconos/symfony-icono.png" class="icono-tec mr-2"> Symfony </li>
				  <li class="list-group-item"><img src="/assets/img/iconos/mysql-icono.png" class="icono-tec mr-2"> MySQL </li>
				  <li class="list-group-item"><img src="/assets/img/iconos/git-icono.png" class="icono-tec mr-2"> Git </li>
				  <li class="list-group-item"><img src="/assets/img/iconos/bootstrap-icono.png" class="icono-tec mr-2"> Bootstrap </li>
				  <li class="list-group-item"><img src="/assets/img/iconos/html-icono.png" class="icono-tec mr-2"> HTML </li>
				  <li class="list-group-item"><img src="/assets/img/iconos/css-icono.png" class="icono-tec mr-2"> CSS </li>
				</ul>
			</div>
			<div class="col-md-4 mr-3 mt-3">
				<h2>Habilidades <img src="/assets/img/habilidades-icono.png" class="icon_about"></h2>
				<ul class="list-group list-group-flush opacity3 mt-4">
				  <li class="list-group-item mb-1"> Sociable </li>
				  <li class="list-group-item"> Innovador </li>
				  <li class="list-group-item"> Flexible </li>
				  <li class="list-group-item"> Creativivo </li>
				  <li class="list-group-item"> Amable </li>
				  <li class="list-group-item"> Rapida adapación </li>
				  <li class="list-group-item"> Proactivo </li>
				</ul>
			</div>

			<div class="col-md-8 mt-3">
				<h2>Contactos</h2>
				<ul class="list-group list-group-flush opacity3">
					<li class="list-group-item">Correo: <a class="text-decoration-none text-secondary" href="mailto:Christiangodoyinformatico@gmail.com">Christiangodoyinformatico@gmail.com</a></li>
					<li class="list-group-item">Correo opcional: <a class="text-decoration-none text-secondary" href="mailto:christian.godoy.v@gmail.com">Christian.godoy.v@gmail.com</a></li>
					<li class="list-group-item">GitHub: <a class="text-decoration-none text-secondary" href="https://github.com/ChristianGodoyInformatico">https://github.com/ChristianGodoyInformatico</a></li>
					<li class="list-group-item">Stackoverflow: <a class="text-decoration-none text-secondary" href="https://es.stackoverflow.com/users/192814/christian-godoy">https://es.stackoverflow.com/users/192814/christian-godoy</a></li>
					<li class="list-group-item">Youtube: <a class="text-decoration-none text-secondary" href="https://www.youtube.com/channel/UCbndN9t3Y72C8EhhoIX_SZg?view_as=subscriber">Mi canal</a></li>
				</ul>
			</div>

		</div>
	</div>

</div>
