.pointer{
	cursor: pointer;
}

.container-fluid{
	padding-top: 0.5%;
	padding-bottom: 5%;
}

.cont_web{
	height: 100vh;
}

.avatar_mask{
	width: 40px;
	height: 40px;
	border-radius: 900px;
	overflow: hidden;
}

.avatar_mask img{
	height: 40px;
}

.avatar_mask_list {
	height: 60px;
	width: 60px;
	border-radius: 900px;
	overflow: hidden;
}

.avatar_mask_list img{
	height: 60px;
}

.avatar_mi_foto{
	height: 100%;
	border-radius: 900px;
	overflow: hidden;
}

.img-fondo{
	position: absolute;
	right: 0;
	top: 0;
	z-index: -100;
	opacity: 0.55;
}

.icon_about{
	width: 15%;
	max-width: 55px !important;
}

.icono-tec{
	width: 8%;
	max-width: 25px !important;
}

.border-r{
	border-radius: 10px;
}

.jumbotron{
   position: relative;
   padding:0 !important;
   margin-top:70px !important;
   background: rgba(238, 226, 226, 0.8)!important;
   text-align:center;
   margin-bottom: 0 !important;
   padding-bottom: 10px !important;
   opacity: 0.2px !important;
}

.opacity{
	background: rgba(238, 226, 226, 0.5)!important;
}

.opacity2{
	background: rgba(0, 0, 0, 0)!important;
}

.opacity3 li{
	background: rgba(0, 0, 0, 0)!important;
}

.font-size-p{
	font-size: 18px !important;
}

.info-personal{
	margin-bottom: 0px;
	font-size: 12px;
	line-height : 1px;
	color: gray;
	font-family: italic;
}

.back-image-projects{
	background: ;
}
